# =========================
# Python (Backend)
# =========================
Backend/venv/
*.pyc
__pycache__/

# =========================
# Node.js (Frontend)
# =========================
Frontend/node_modules/
Frontend/build/
Frontend/dist/
node_modules/

# =========================
# General ignores
# =========================
.env              # Environment variables
*.log             # Log files
logs/             # Log directory
.vscode/          # VS Code settings (if you don't want to share them)
.DS_Store         # macOS system file
Thumbs.db         # Windows thumbnail cache
